.layout {
  margin: 0 auto;
  width: 350px;
  height: 240px;
  font-size: 16px;
}

.header {
  width: 350px;
  height: 44px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-button {
  width: 44px;
  height: 44px;
  border: none;
  background-color: white;
}
.select-button:hover {
  background-color: #e6e6e6;
}


.date-body {
  display: grid;
  grid-template-columns: repeat(7, 50px);
}

.date-button {
  display: flex;
  width: 50px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.date-button.today {
  background-color: #ffff76;
}

.date-button.non {
  color: #757575;
}

.date-button.active,
.date-button.active:hover {
  background-color: #006edc;
  color: white;
}

.date-button.disable {
  cursor: not-allowed;
}


.date-button.disable:hover {
  background-color: white;
}

.date-button:hover,
.date-button.today:hover  {
  background-color: #e6e6e6;
}
